/* Error: Undefined variable.
 *    ,
 * 47 |     "900": $gray-900-alt
 *    |            ^^^^^^^^^^^^^
 *    '
 *   _variables-dark.scss 47:12  @import
 *   generic.scss 1:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a    \2577 \a 47 \2502      "900": $gray-900-alt\a    \2502             ^^^^^^^^^^^^^\a    \2575 \a   _variables-dark.scss 47:12  @import\a   generic.scss 1:9            root stylesheet';
}
